
.DS_Store
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.virtual_documents/
*/.virtual_documents/

anaconda_projects/
*/anaconda_projects/


__pycache__/
*.py[cod]

env/
venv/
.venv/
ENV/
env.bak/
venv.bak/


.vscode/


*.pdf